h1 { text-align: center; }
h3 {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.flex {
    display: flex;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.hide {
    display: none!important;
}
.vm-list-block {
    border: 2px solid #2196F3;
    background-color: #eff6fe;
    height: 80px;
    width: 80%;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 50px;
}
/*
    按钮容器，水平排列
*/
.button-container-center {
    display: flex;
    justify-content: center;
    margin: 4px;
}
.button-container-column {
    display: flex;
    flex-direction: column;
}
.button-container-btn {
    /* 上下0 左右4 */
    /*margin: 0 4px;*/
    padding: 2px 4px;
    color: white;
    /* 按钮填满 */
    flex: 1;
    /* 文字居中 */
    text-align: center;
}
.button-container-select {
    background-color: #272727;
}
.button-container-btn:hover {
    background-color: #3F3F3F;
}

.button-container-btn2 {
    padding: 2px 4px;
    flex: 1;
    text-align: center;
}
.button-container-btn2:hover {
    background-color: #7e7e7e;
}

/* 鼠标悬停时添加阴影 */
.vm-list-block:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* 水平偏移 垂直偏移 模糊半径 颜色 */
}
.vm-field {
    display: flex;
    justify-content: flex-start;
    margin: 4px;
}
.vm-field-button {
    display: flex;
    justify-content: space-between;
    margin: 4px;
}
.vm-field-label {
    width: 75px;
}
.vm-field-value {
    word-wrap: break-word;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.vm-button-container {
    display: flex;
    justify-content: flex-end;
    margin: 4px;
}
.vm-button-container>button{
    margin-left: 5px;
}

#confDialog {
    width: 75%;
}
#ordDialog {
    width: 75%;
}
#ordFileText {
    color: white;
    background-color: #000000cc;
    font: caption;
    height: 94%;
    width: 100%;
    resize: none;
}

.text-wrap {
    /*border: 1px solid #000; !* 为了清楚地展示换行效果，加上边框 *!*/
    word-wrap: break-word; /* 使得长单词或URL可以换行 */
}

.scrollable-y {
    overflow-y: scroll; /* 当内容超出div的高度时，垂直方向显示滚动条 */
}

.atom-op-block {
    position: fixed;
    top: 50%;
    left: 50%;
    /*width: 100px;*/
    /*height: 50px;*/
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* 水平偏移 垂直偏移 模糊半径 颜色 */
}

.atom-tip {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center; /* 水平居中,flex模式 */
    align-items: center; /* 垂直居中,flex模式 */
    transform: translate(-50%, -50%);
    background-color: #50802a;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: fadeOut 5s ease-in-out forwards;
}

.atom-error {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center; /* 水平居中,flex模式 */
    align-items: center; /* 垂直居中,flex模式 */
    transform: translate(-50%, -50%);
    background-color: #803327;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: fadeOut 5s ease-in-out forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}